.main__table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

.tableCell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.tableHeader {
    font-style: normal;
    background-color: silver
}

.tableRow:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.tableRow:hover {
    background-color: #9e9e9e;
}

.main__tableContainer {
    overflow-x: auto;
}